# created by virtualenv automatically
.env
.idea
pyvenv.cfg
Lib
Scripts
/__pycache__
/app/__pycache__/
/app/api/__pycache__/
/app/db/__pycache__/
/app/enums/__pycache__/
/app/schemas/__pycache__/
/app/test/__pycache__/
/app/utils/__pycache__/
Include